@use 'sass:math';
// Light theme
$home-light-bg: #ffffff;
$light-bg: #EAF8E7;
$light-bg-2: #e5e5e5;
$light-text: #222222;


// Accent colors
$primary: #4ca771;
$secondary: #c0e6ba;

@mixin loader($loader-size) {
  .loader {
  border: (0.1 * $loader-size) solid #f3f3f3;
  border-radius: 50%;
  border-top: (math.div(10, 100) * $loader-size) solid $primary;
  width: $loader-size;
  height: $loader-size;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
}