@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=WDXL+Lubrifont+TC&display=swap');

body {
  font-family: "Lalezar", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}